<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="/mini_project/views/style.css">
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <p>Try visiting routes like:</p>
  <ul>
    <li><a href="/mini_project/index.js/profile">/profile/john</a></li>
    <li><a href="/mini_project/index.js/author">/jane/30</a></li>
  </ul>
</body>
</html>